@include media(mobile-only) {
  
  .header {
    width: 80%;
    margin: auto;
    padding: 60px 0;
    @include display-grid;
    @include grid-template-rows(grid-repeat(2));
    
    &__title {
      width: 100%;
      display: flex;
      border-bottom: 2px solid $dark-light;
      flex-direction: column;
      justify-content: center;

      h1 {
        margin: 0;
        color: $dark-text;
        font-family: $font-1;
        @include font-size(20px);
      }
      h4 {
        margin: 0;
        color: $dark-light;
        font-family: $font-1;
        @include font-size(14px);
      }

    }

    &__night {
      width: 100%;
      height: 100px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      h4 {
        margin: 0;
        color: $dark-light;
        font-family: $font-1;
        @include font-size(14px);
      }
      
      h5 {
        margin: 0;
        margin-right: 15px;
        color: $dark-light;
        font-family: $font-1;
        @include font-size(10px);
      }

      .switch {
        width:  60px;
        height: 30px;
        margin: 0;
        position: relative;
        display: inline-block;

        input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          border-radius: 50px;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transition: 0.4s;
          background: linear-gradient(
            90deg,
            hsl(210, 78%, 56%),
            hsl(146, 68%, 55%)
          );
        }

        .slider::before {
          content: "";
          position: absolute;
          height: 22px;
          width:  22px;
          left: 4px;
          border-radius: 50px;
          bottom: 4px;
          background-color: $dark-secondary;
          transition: 0.4s;
        }

        input:checked + .slider {
          background: $dark-desaturated;
        }

        input:checked + .slider::before {
          transition: 0.4s;
          background: hsl(230, 22%, 74%);
        }

        input:checked + .slider:before {
          transform: translateX(30px);
        }
      }
    }
  }


  .box__social {
    justify-content: center;
    @include display-grid;
    @include grid-template-columns(350px);
    @include grid-template-rows(300px);
    gap: 30px;
  }

  .box {
    width: 100%;
    height: 250px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    border-radius: 0.5em;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $dark-secondary;

    &__rrss {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
    h2 {
      color: $dark-light;
      font-family: $font-1;
      font-weight: 400;
      @include font-size(14px);
    }

    &__content {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        color: $dark-text;
        font-weight: 700;
        font-family: $font-1;
        letter-spacing: 0.2rem;
        @include font-size(55px);
      }
      h4 {
        font-weight: 400;
        text-transform: uppercase;
        font-family: $font-1;
        color: $dark-light;
        letter-spacing: 0.3rem;
        @include font-size(12px)
      }
    }

    &__stats {
      display: flex;
      align-items: center;

      img {
        width:  10px;
        height: 10px;
      }
      h4 {
        margin: 0;
        font-weight: 400;
        font-family: $font-1;
        color: $dark-text;
        @include font-size(12px);
      }
      h5 {
        margin: 0;
        font-weight: 400;
        font-family: $font-1;
        @include font-size(14px);
        @include text-color(false);
      }
    }
  }

  .second {
    width: 350px;
    height: 120px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: left;

    h2 {
      margin: 0;
      color: $dark-text;
      font-family: $font-1;
      @include font-size(20px);
    }
  }

  .overview__section {
    justify-content: center;
    @include display-grid;
    @include grid-template-columns(350px);
    @include grid-template-rows(200px);
    gap: 30px;
  }

  .overview {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 40px;
    border-radius: 0.5em;
    background-color: $dark-secondary;

    &__info {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-family: $font-1;
        color: $dark-light;
        @include font-size(14px);
      }

      img {
        width: 30px;
        height: 30px;
      }
    }

    &__stat {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      h2 {
        color: $dark-text;
        font-family: $font-1;
        margin: 0;
        @include font-size(50px);
      }
    }

    &__likes {
      display: flex;
      align-items: center;

      img {
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }

      h4 {
        color: $dark-text;
        font-family: $font-1;
        font-weight: 400;
        margin: 0;
        @include font-size(14px);
      }
      h5 {
        margin: 0;
        font-weight: 400;
        font-family: $font-1;
        @include font-size(12px);
        @include text-color(false);
      }
    }
  }

  .attribution {
    width: $screen-width;
    padding: 30px;
    margin: auto;
    display: block;
    text-align: center;

    h4 {
      color: $dark-text;
      font-family: $font-1;
      font-weight: 400;
      @include font-size(14px);
    }
  }
}

.box.facebook {
  border-top: 7px solid $color-facebook;
}
.box.twitter {
  border-top: 7px solid $color-twitter;
}
.box.instagram {
  border-top: 7px solid transparent;
  border-image: linear-gradient(90deg, $color-instagram);
  border-image-slice: 1;
}
.box.youtube {
  border-top: 7px solid $color-youtube;
}

.ligh__mode {


  .box{
    background-color: $white-background;
  }
}