
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/png" sizes="32x32" href="../src/assets/favicon-32x32.png")
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet")
    title Frontend Mentor | Dashboard
    include ./components/mixins.pug
  body
    main
      div.header
        span.header__title
          h1 Social Media Dashboard
          h4 Total Followers: 23,004
        span.header__night
          h5 Dark Mode
          label.switch
            input(type="checkbox" id="dark-mode" checked)
            span.slider
      div.box__social
        +box('icon-facebook.svg', '@nathanf', '1987', 'Followers', 'icon-up.svg', '12 Today')
        +box('icon-twitter.svg', '@nathanf', '1044', 'Followers', 'icon-up.svg', '99 Today')
        +box('icon-instagram.svg', '@realnathanf', '11K', 'Followers', 'icon-up.svg', '1000 Today')
        +box('icon-youtube.svg', 'Nathan F.', '8239', 'Subscribers', 'icon-down.svg', '144 Today')
      div.second
        h2 Overview - Today
      div.overview__section
          +overview('Page Views', 'icon-facebook.svg' ,'87', '3%', 'icon-up.svg')
          +overview('Likes', 'icon-facebook.svg' ,'52', '2%', 'icon-down.svg')
          +overview('Likes', 'icon-instagram.svg' ,'5462', '2257%', 'icon-up.svg')
          +overview('Profile Views', 'icon-instagram.svg' ,'52k', '1275%', 'icon-up.svg')
          +overview('Retweets', 'icon-twitter.svg' ,'117', '303%', 'icon-up.svg')
          +overview('Likes', 'icon-twitter.svg' ,'507', '553%', 'icon-up.svg')
          +overview('Likes', 'icon-youtube.svg' ,'107', '19%', 'icon-down.svg')
          +overview('Total Views', 'icon-youtube.svg' ,'1407', '12%', 'icon-down.svg')
      div.attribution
        p 
          |Challenge by   
          a(href="https://www.frontendmentor.io/" target="_blank")  Frontend Mentor               
        p 
          |Code by     
          a(href="https://github.com/KrlosAren" target="_blank")  Carlos Lopez Zavarce


